<app-navbar></app-navbar>
<div class="container">
    <h1>Crear Marcaje Nuevo</h1>

    <a href="#" routerLink="/admini/admin" class="btn btn-dark">Regresar</a>
         
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
   
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
                formControlName="nombre"
                id="nombre"
                type="text"
                class="form-control">
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">El nombre es obligatorio.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="contrasena">contrasena:</label>
            <input
                formControlName="contrasena"
                id="contrasena"
                type="text"
                class="form-control">
            <div *ngIf="f['contrasena'].touched && f['contrasena'].invalid" class="alert alert-danger">
                <div *ngIf="f['contrasena'].errors && f['contrasena'].errors['required']">El codigo es obligatorio.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                formControlName="email"
                id="email"
                type="text"
                class="form-control">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">El codigo es obligatorio.</div>
            </div>
        </div>
   
        <div class="form-group">
            <label for="tipo_usuario">Tip de Usuario:</label>
            <input
                formControlName="tipo_usuario"
                id="tipo_usuario"
                type="number"
                class="form-control"/>            
            <div *ngIf="f['tipo_usuario'].touched && f['tipo_usuario'].invalid" class="alert alert-danger">
                <div *ngIf="f['tipo_usuario'].errors && f['tipo_usuario'].errors['required']">El precio es obligatorio.</div>
            </div>
        </div>
   
        <button class="btn btn-primary" type="submit" >Guardar</button>
    </form>

</div>