<div class="container">
    <div class="container">
        <h1 class="display-1">No has marcado tu entrada aún!</h1>
        <p><em>Presiona el boton de "Clok in" para marcar tu entrada.</em></p>
        <h1 class="display-1">Marca tu salida!</h1>
        <p><em>Presiona el boton de "Clok out" para marcar tu entrada.</em></p>
      </div>
    <div class="container">
        <button type="button" class="btn btn-info">Clok in!</button>
        <p>Has marcado tu <mark>Entrada</mark> con exito</p>
        <button type="button" class="btn btn-dark">Clok Out!</button>
        <p>Has marcado tu <mark>Salida</mark> con exito</p>
      </div>
</div>