<app-navbar></app-navbar>
<div class="container-fluid text-end">  <p>Tipo de usuario: 1 (admin)
</p>
<p>Tipo de usuario: 0 (normal)
</p></div>
<div class="container">
  <button type="button" class="btn btn-dark" routerLink="/admini/create">Crear Marcaje</button>
</div>
<div class="container">
<table class="table">
    <thead>
      <tr >
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Tipo Usuario</th>
        <th scope="col">Opciones</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuario">
        <td>{{usuario.id_usuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.tipo_usuario}}</td>
        <td> <button type="button" class="btn btn-dark" routerLink="/admini/view/{{usuario.id_usuario}}">Ver</button> </td>
        <td>  <button type="button" class="btn btn-warning" routerLink="/admini/editar/{{usuario.id_usuario}}">Editar</button></td>
        <td>  <button type="button"  class="btn btn-info" (click)="deleteUsuario(usuario.id_usuario)">Borrar</button> </td>
      </tr>
    </tbody>
  </table>
</div>

