<app-navbar></app-navbar>
<div class="container">
  <button type="button" class="btn btn-dark" routerLink="/admini/create">Crear Marcaje</button>
</div>
<div class="container">
<table class="table">
    <thead>
      <tr >
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Hora</th>
        <th scope="col">Fecha</th>
        <th scope="col">Opciones</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let marcaje of marcajes">
        <td>{{marcaje.nombre}}</td>
        <td>{{marcaje.apellidos}}</td>
        <td>{{marcaje.hora}}</td>
        <td>{{marcaje.fecha}}</td>
        <td> <button type="button" class="btn btn-dark" routerLink="/admini/view/{{marcaje.marcaje_id}}">Ver</button> </td>
        <td>  <button type="button" class="btn btn-warning" routerLink="/admini/editar/{{marcaje.marcaje_id}}">Editar</button></td>
        <td>  <button type="button"  class="btn btn-info" (click)="deleteMarcaje(marcaje.marcaje_id)">Borrar</button> </td>
      </tr>
    </tbody>
  </table>
</div>

