<app-navbar></app-navbar>
<div class="container-fluid text-end">  <p>Tipo de usuario: 1 (admin)
</p>
<p>Tipo de usuario: 0 (normal)
</p></div>
<div class="container">
    <h1>Usuario:</h1>
   
    <a href="#" routerLink="/admini/admin" class="btn btn-dark">Regresar</a>
    
    <div>
        <strong>Usuario ID:</strong>
        <p>{{ usuario.id_usuario }}</p>
    </div>
    
    <div>
        <strong>Nombre:</strong>
        <p>{{ usuario.nombre}}</p>
    </div>
    
    <div>
        <strong>Email:</strong>
        <p>{{ usuario.email }}</p>
    </div>

    <div>
        <strong>Tipo de usuario:</strong>
        <p>{{ usuario.tipo_usuario }}</p>
    </div>
    
</div>